@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slowZoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.15);
  }
}

.animate-slow-zoom {
  animation: slowZoom 20s infinite alternate ease-in-out;
}